*{
   margin: 0px;
   padding: 0px;
   list-style: none;
}
nav{
   background-color: whitesmoke;
   height: 70px;
   width: 100%;
   display: flex;
}

nav ul{
   display: flex;
   justify-content: space-around;
}
.navbar1{
   width: 820px;
   margin-top: 15px;
}
.navbar2{
    width: 670px;
}
.navbar1 h3{
   margin-left: 370px;
   font-size: 33px;
}
.navbar1 li{
   font-size: 18px;
   margin-top: 21px;
}
.navbar2 li{
   margin-top: 18px;
   margin-left: 100px;
   font-size: 18px;

}
.navbar2{
   /* background-color: blue; */
   margin-top: -69px;
   margin-left: 820px;
}
 /* .slide{} */

 .allegro_news{
   width: 100%;
  height: 690px;
   margin-top: -1010px;
   position: relative;
   z-index: 10;
   background-color: rgba(0, 0, 0, 0.7);
   /* border: 1px solid white; */
  align-items: center;

}
.text_div{
   height: 640px;
   width: 650px;
   text-align: center;
   margin-left: 400px;
   margin-top: 320px;
   padding:10 10 0 0 ;
   /* border: 1px solid white ; */
 
}
.text_div h3{
   margin-left: 70px;
   color: orangered;
   font-size: 20px;
   margin-top: 20px;
   
 
}
.text_div p{
   display: flex;
   width: 100%;
   height: 290px;
   margin-left: 20px;
   margin-top: 40px;
   font-family: 'Assistant', sans-serif;
   font-size: 46px;
   text-align: center;
   line-height: 63px;
   word-spacing: 1px;
  letter-spacing: 1px;
   align-items: center;
   font-weight: 200px;
   color: white;
   
}


.text_div button{
   margin-left: 45px;
   margin-top: 10px;
   background-color: orangered;
   color: white;
   height: 40px;
   width: 100px;
   font-size: 16px;
   padding: 10px;
   list-style: none;
   outline: none;
   border: none;
}
.allegro_news_1{
   width: 100%;
   height: 680px;
   margin-top: -1000px;
   position: relative;
   z-index: 10;
   background-color: rgba(0, 0, 0, 0.7);
   /* border: 4px solid white; */
  align-items: center;
}
.allegro_news_2{
   width: 100%;
   height: 622px;
   margin-top: -940px;
   position: relative;
   z-index: 10;
   background-color: rgba(0, 0, 0, 0.7);
   /* border: 1px solid white; */
  align-items: center;
}
.text_div .button{
   margin-top: 110px;
}
.text_div .button_1{
   margin-top: -50px;
}

.slide_nav{
   width: 100%;
   height:801px;
   overflow: hidden;
}
.box2{
   display: flex;
   width: 100%;
   height: 801px;
}
.box2 input{
   display: none;
}
.slide_1{
   width: 100%;
   transition: 2s;
}
.slide_1 .slide_2{
   width: 100%;
   height: 801px;
}
.manual{
   position: absolute;
   z-index: 100;
   margin-top: 500px;
   align-items: center;
   width: 1000px;
   margin-left: 255px;
   display: flex;
   justify-content: center;
}
.manuals{
   width: 10px;
   border: 2px solid white;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   transition: 1s;
}
.manuals:not(:last-child){
   margin-right: 40px;
}
.manuals:hover{
   background-color: orangered;
}
#radio1:checked ~.slide_1 .slide_2{
   margin-left: 0;
   transition: 1s;
}
#radio2:checked ~.slide_1 .slide_2{
   margin-left: -100%;
   transition: 1s;
}
#radio3:checked ~.slide_1 .slide_2{
   margin-left: -200%;
   transition: 1s;
}
.prev_but button:hover{
   background-color: whitesmoke;
   color: orangered;
}

.slide_nav .prev_but{
   width: 1215px;
   margin-left: 120px;
   position: relative;
   z-index: 50;
   display: flex;
   justify-content: space-between;
}
.prev_but button{
   width: 40px;
   height: 40px;
   font-size: 15px;
   border-radius: 50%;
   margin-top: -500px;
   background-color: orangered;
   color: white;
   font-family: monospace;
   font-weight: bold;
}
.box3{
   width: 100%;
   height: 400px;
   margin-top: -2px;
   background-color:white;
}
@media screen and (max-width: 480px) {
    .white_box{
  width: auto; 
  margin: left;
  float: left;    
  text-align: left;
   }
 }
.box3 .white_box{
   width: 100%;
   height: 400px;
   margin-left: auto;
   text-align: center;
   position: absolute;
   
}
.white_box button{
   margin-top: 40px;
   margin-left: -5px;
   background-color: orangered;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   height: 40px;
   width: 100px;
   font-size: 16px;
   padding: 10px;
}
.white_box p{
   font-family: 'Assistant', sans-serif;
   font-size: 18px;
   margin-top: 25px;
   line-height: 28px;
   font-weight: 200;
}
.white_box h2{
   margin-top: 60px;
   margin-left: -10px;
   font-size: 33px;
   color: orangered;
   font-weight: bold;
}
@media (max-width:765px){
   *{
       padding: 0px;
       margin: 0px;
       box-sizing: border-box;
       text-decoration: none;
       outline: none;
       border: none;
       list-style: none;
   }
   
   .allegro_news{
       width: 100%;
       height: 390px;
       margin-top: -690px;
       position: relative;
       z-index: 10;
       background-color: rgba(0, 0, 0, 0.7);
       /* border: 1px solid white; */
      align-items: center;
   
   }
   .text_div{
       height: 300px;
       width: 550px;
       margin-left: 145px;
       margin-top: 90px;
     /* border: 1px solid white; */
   }
   .text_div h3{
       margin-left: -70px;
       color: orangered;
       font-size: 15px;
       margin-top: -25px;
   }
   .text_div p{
       width: 290px;
       height: 200px;
       margin-left: 90px;
       margin-top: -20px;
       font-family: 'Assistant', sans-serif;
       font-size: 30px;
       text-align: center;
       line-height: 30px;
       word-spacing: 1px;
      letter-spacing: 1px;
       align-items: center;
       font-weight: 100px;
       color: white;
       /* border: 1px solid white; */
   }
   .text_div button{
       margin-left: -70px;
       margin-top: -30px;
       background-color: orangered;
       color: white;
       height: 30px;
       width: 80px;
       font-size: 12px;
       padding: 8px;
       list-style: none;
       outline: none;
       border: none;
       position: absolute;
   }
   .allegro_news_1{
       width: 100%;
       height: 550px;
       margin-top: -750px;
       position: relative;
       z-index: 10;
       background-color: rgba(0, 0, 0, 0.7);
       /* border: 4px solid white; */
      align-items: center;
   }
   .allegro_news_2{
       width: 100%;
       height: 410px;
       margin-top: -690px;
       position: relative;
       z-index: 10;
       background-color: rgba(0, 0, 0, 0.7);
       /* border: 1px solid white; */
      align-items: center;
   }
   .text_div .button{
       margin-top: 50px;
   } 
   .slide_nav{
       width: 100%;
       height:390px;
       overflow: hidden;
   }
   .box2{
       display: flex;
       width: 100%;
       height: 801px;
   }
   .box2 input{
       display: none;
   }
   .slide_1{
       /* width: 100%; */
       transition: 2s;
   }
   .slide_1 .slide_2{
       width: 100%;
       height: 801px;
   }
   .manual{
       position: absolute;
       z-index: 100;
       margin-top: 300px;
       align-items: center;
       width: 100%;
       margin-left: -1px;
       display: flex;
       justify-content: center;
   }
   .manuals{
       width: 10px;
       border: 2px solid white;
       padding: 3px;
       border-radius: 10px;
       cursor: pointer;
       transition: 1s;
   }
   .manuals:not(:last-child){
       margin-right: 10px;
   }
   .manuals:hover{
       background-color: orangered;
   }
   #radio1:checked ~.slide_1 .slide_2{
       margin-left: 0;
       transition: 1s;
   }
   #radio2:checked ~.slide_1 .slide_2{
       margin-left: -100%;
       transition: 1s;
   }
   #radio3:checked ~.slide_1 .slide_2{
       margin-left: -200%;
       transition: 1s;
   }
   .prev_but button:hover{
       background-color: whitesmoke;
       color: orangered;
   }
    
   .slide_nav .prev_but{
       width: 100%;
       margin-left: -1px;
       position: relative;
       z-index: 50;
       display: flex;
       justify-content: space-between;
   }
   .prev_but button{
       width: 40px;
       height: 40px;
       font-size: 15px;
       border-radius: 50%;
       margin-top: -400px;
       background-color: orangered;
       color: white;
       font-family: monospace;
       font-weight: bold;
   }
   
   .box3{
       width: 100%;
       height: 200px;
       margin-top: -2px;
       background-color: white;
   }
   .box3 .white_box{
       width: 600px;
       height: 200px;
       margin-left:70px;
       text-align: center;
       position: absolute;
       /* border: 1px solid black; */
   }
   .white_box button{
       margin-top: 10px;
       margin-left: -5px;
       background-color: orangered;
       color: white;
       font-family: Arial, Helvetica, sans-serif;
       height: 25px;
       width: 90px;
       font-size: 10px;
       padding: 5px;
   }
   .white_box p{
       font-family: 'Assistant', sans-serif;
       font-size: 15px;
       margin-top: 5px;
       line-height: 18px;
       font-weight: 200;
   }
   .white_box h2{
       margin-top: 10px;
       margin-left: -10px;
       font-size: 23px;
       color: orangered;
       font-weight: bold;
   }
   .white_box h2{
       margin-left: -50px;
   }
   .white_box p{
       margin-left: -40px;
       width: 600px;
   }
  .white_box .button_1{
      margin-left: -50px;
  }

  nav{
   background-color: whitesmoke;
   height: 70px;
   width: 100%;
   display: flex;
}

nav ul{
   display: flex;
   justify-content: space-around;
}
.navbar1{
   width: 420px;
   margin-top: 15px;
}
.navbar2{
    width: 270px;
}
.navbar1 h3{
   margin-left: 140px;
   font-size: 13px;
}
.navbar1 li{
   font-size: 14px;
   margin-top: 16px;
}
.navbar2 li{
   margin-top: 18px;
   margin-left: 10px;
   font-size: 13px;

}
.navbar2{
   /* background-color: blue; */
   margin-top: -56px;
   margin-left: 420px;
}
}
.title1{
   margin-left: 100px;

}
.title2{
   margin-left: 770px;
   margin-top: -250px;
   font-size: 20px;
   /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.title1{
      font-size: 40px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: -100px;
      margin-left: 230px;
}
.learn{
   margin-top: -570px;
   margin-left: 250px;
   padding: 10px;
}
.grid{
   margin-top: 150px;
   display: grid;
   grid-template-columns: repeat(2,750px);
   /* grid-template-rows: repeat(2,200px); */
   background-color: whitesmoke;
}
.grid3{
   width: 400px;
   font-size: 25px;
   margin-left: 150px;

}
.grid4{
   width: 450px;
   font-size: 25px;
   margin-left: 150px;
   margin-top: 100px;
}
.para{
   margin-top: 100px;
   margin-left: 50px;
}
.parent1{
   margin-top: 100px;
   margin-left: 20px;
   display: grid;
   grid-template-columns: repeat(4,370px);
   /* border: 1px solid black; */

}
.parent2{
   display: flex;
   justify-content: space-between;
   margin-left: 25px;
   margin-top: 20px;
   width: 1230px;
}
.para1 h1{
    margin-left: 560px;
    margin-top: 80px;
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.para1 p{
   font-size: 15px;
   margin-left: 565px;
   margin-top: 30px;
}
.parent3{
     margin-left: 150px;
     margin-top: 100px;
}
.parent3 h1{
   font-size: 50px;
   margin-top: 50px;
}
.parent3 p{
   font-size: 20px;
   width: 500px;
}
.parent3 button{
   padding: 10px;
   font-weight: 100;
}
.parent4{
   margin-left: 800px;
   margin-top: -350px;
}
.parent4 h1{
   font-size: 50px;
}
.parent4 p{
   font-size: 20px;
   width: 500px;
}
.parent4 button{
   padding: 10px;
   font-weight: 100;
}
.parent5{
   display: grid;
   grid-template-columns: repeat(2,755px);
   margin-top: 140px;
   background-color: rgb(241, 240, 240)
}
.para2 p{
margin-left: 580px;
margin-top: 130px;
}
.parent5 h1{
   font-size: 50px;
}
.parent5 p{
   font-size: 20px;
   width: 500px;
}
.parent5 button{
   padding: 10px;
   font-weight: 100;
}
.parent6{
   margin-left: 140px;
   margin-top: 150px;
}
.foot{
   margin-top: 100px;
   display: flex;
   justify-content: space-around;
   width: 600px;
   line-height: 40px;
   /* background-color: gray; */
   /* height: 600px; */
}
.foot p{
   color: silver;
}
@media (max-width:765px){
   
   .title1{
      margin-left: 100px;
      /* margin-top:200px; */
   
   }
   .title2{
      margin-left: 30px;
      margin-top: 50px;
      font-size: 20px;
      /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
   }
   .title1{
         font-size: 40px;
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         margin-top: 80px;
         margin-left: 30px;
   }
   .learn{
      margin-top: -400px;
      margin-left: 50px;
      padding: 10px;
   }
   .grid{
      margin-top: 150px;
      display: grid;
      grid-template-columns: repeat(2,750px);
      /* grid-template-rows: repeat(2,200px); */
      background-color: whitesmoke;
   }
   .grid img{
      width: 700px;
   }
   .grid2 img{
      margin-left: -730px;
      margin-top: 100px;
      width: 700px;
   }
   .grid3{
      width: 400px;
      font-size: 25px;
      margin-left: -700px;
      margin-top: 550px;
   
   }
   .grid4{
      width: 450px;
      font-size: 25px;
      margin-left: 50px;
      margin-top: 630px;
   }
   .para{
      margin-top: 100px;
      margin-left: 50px;
   }
   .parent1{
      margin-top: 100px;
      margin-left: 20px;
      display: grid;
      grid-template-columns: repeat(2,370px);
      grid-template-rows: repeat(2,500px) ;
      /* border: 1px solid black; */
   
   }
   .parent1 img{
      width: 300px;
   }
   .parent2{
      display: grid;
      grid-template-columns: repeat(2,370px);
      grid-template-rows: repeat(2,500px) ;
      /* justify-content: space-between; */
      margin-left: 25px;
      margin-top: -580px;
      width: 700px;
   }
   .para1 h1{
       margin-left: 150px;
       margin-top: -400px;
       font-size: 60px;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   .para1 p{
      font-size: 15px;
      margin-left: 155px;
      margin-top: 30px;
   }
   .parent3{
        margin-left: 40px;
        margin-top: 100px;
   }
   .parent3 h1{
      font-size: 50px;
      margin-top: 50px;
   }
   .parent3 p{
      font-size: 20px;
      width: 500px;
   }
   .parent3 button{
      padding: 10px;
      font-weight: 100;
   }
   .parent4{
      margin-left: 40px;
      margin-top: 50px;
   }
   .parent4 h1{
      font-size: 50px;
   }
   .parent4 p{
      font-size: 20px;
      width: 500px;
   }
   .parent4 button{
      padding: 10px;
      font-weight: 100;
   }
   .parent5{
      display: grid;
      grid-template-columns: repeat(2,755px);
      margin-top: 840px;
      background-color: rgb(241, 240, 240)
      
   }
   .para2 p{
   margin-left: 100px;
   margin-top: 130px;
   }
   .parent5 h1{
      font-size: 50px;
   }
   .parent5 p{
      font-size: 20px;
      width: 500px;
   }
   .parent5 button{
      padding: 10px;
      font-weight: 100;
   }
   .parent6{
      margin-left: 100px;
      margin-top: 100px;
   }
   .parent7{
      margin-top: -700px;
      margin-left: -760px;
      /* height: 400px;
      width: 400px; */
   }
   .foot{
      margin-top: 100px;
      display: flex;
      justify-content: space-around;
      /* width: 600px; */
      line-height: 40px;
      /* background-color: gray; */
      /* height: 600px; */
   }
   .foot p{
      color: silver;
   }
}